/*  Указывала везде цвет в формате rgba
Насколько это верно?
 */

 /* rgba(0, 0, 0, 1) black
    rgba(255, 255, 255, 1) white */

html {
  background-color: rgba(242, 242, 242, 1);
  text-align: center;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 1200px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: rgba(255, 255, 255, 1);
  box-shadow: 5px 0px 15px rgba(0,1,1, 0.2);
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.show {
  display: flex;
}

/*  HEADER + NAVIGATION  */


.main-navigation {
  position: relative;

  background-color: #ffffff;

}

.main-navigation-links {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.main-navigation-links li {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 20%;
}

.main-navigation-links li:nth-child(1),
.main-navigation-links li:nth-child(2)  {
  text-align: left;
}

.main-navigation-links li:nth-child(3),
.main-navigation-links li:nth-child(4)  {
  text-align: right;
}

.main-navigation-links li:first-child {
  margin-left: 6%;
}

.main-navigation-links li:last-child {
  margin-right: 6%;
}

.main-navigation-links li:nth-child(2) {
  margin-right: 7%;
}

.main-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main-navigation-links a {
  color: #000000;
}

.main-navigation-links a:hover {
  color: rgba(129, 179, 210, 1);
}

.main-navigation-links a:focus {
  color: rgba(0, 0, 0, 0.3);
}

/*  CONTENT  */

.intro {
  text-align: center;

  background-image: url("../img/polygon.svg"), url("../img/background.jpg");
  background-position: bottom center, 50% 21%;
  background-repeat: no-repeat, no-repeat;
  padding-bottom: 70px;
}

.intro-welcome {
  padding-top: 76px;
}


/*  REASONS  */

.reasons {
  padding-top: 20px;
}

.reasons-title p:first-child {
  width: 470px;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 21px;
}

.reasons-title p:last-child {
  width: 519px;

  font-size: 14px;
  font-weight: normal;

  margin-left: auto;
  margin-right: auto;
  padding-top: 6px;
  padding-bottom: 36px;
}

.reasons-list,
.city-description {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  padding: 0;
}

.reason-with-image {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0;
  margin: 0;
  max-height: 256px;
}

.reason-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

.reason-description p {
  padding-top: 5px;
}

.reason-description h3 {
  width: 150px;
  margin: 0 auto 20px auto;
}

.city-description {
width: 100%;
}

.city-description-item {
  position: relative;
}

.city-description li {
  flex-basis: 33%;
  margin: 140px 0 67px;
}

.city-description-item::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  top: -88px;
  transform: translateX(-50%);
}

.city-description-item:nth-child(2):before {
  margin-left: 6px;
}

.city-description-item:nth-child(2) {
  padding-left: 6px;
}

.city-description-item:last-child {
  margin-left: 4px;
}

.item-home::before {
  background: url("../img/icon-home.svg") 50% 100% no-repeat;
}

.item-food::before {
  background: url("../img/icon-food.svg") 50% 100% no-repeat;
}

.item-souvenirs::before {
  background: url("../img/icon-souvenirs.svg") 50% 100% no-repeat;
}

.reason-item h3,
.city-description-item h3 {
  font-size: 21px;
  line-height: 21px;

}

.reason-item span,
.reason-item p,
.city-description-item p  {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  padding: 6px 49px 0;
}

.reason-with-image {
  background-color: rgba(129, 179, 210, 1);
  color: rgba(255, 255, 255, 1);
}

.reason-item:nth-child(n+4) {
  background-color: rgba(238, 238, 238, 1);
  padding: 44px 0;
}

/*  FORM  */

.form-hotels {
  position: relative;
  text-align: center;

  padding-top: 9px;
}

.form-hotels h3 {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;

  margin: 0;
  padding-top: 30px;

  color: #000000;
}

.form-description {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  padding-top: 10px;
}

button[name="show-form"] {
  width: 568px;
  height: 86px;
  margin-top: 30px;

  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 1);
  background-color: rgba(118, 99, 87, 1);
}

button[name="show-form"]:hover {
  background-color: rgba(96, 78, 67, 1);
}

button[name="show-form"]:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(80, 62, 51, 1);
}

.hotel-form {
  flex-wrap: wrap;
  position: absolute;
  z-index: 2;

  width: 458px;
  max-height: 395px;
  padding-top: 44px;
  padding-left: 54px;
  padding-right: 54px;
  padding-bottom: 57px;
  left: 50%;
  transform: translateX(-50%);

  background-color: rgba(255, 255, 255, 1);
}

.form-data {
  display: flex;
  align-items: center;

}

.hotel-form input {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;

  background-color: rgba(242, 242, 242, 1);
  border: none;
}

.hotel-form input:hover {
  background-color: rgba(235, 235, 235, 1);
}

.hotel-form input:focus {
  background-color: rgba(255, 255, 255, 1);
}

.arrival,
.departure {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

label[for="adults"] {
  padding-right: 43px;
}

.children {
  margin-left: auto;
}

label[for="children"] {
  padding-right: 30px;
}

.date-input {
  width: 346px;
  height: 38px;

  padding-left: 10px;
  padding-right: 40px;
  box-sizing: border-box;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000000;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000000;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000000;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000000;
}::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000000;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000000;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000000;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000000;
}

.counter {
  width: 36px;
  height: 36px;

  text-align: center;
}

.calendar-icon {
  position: absolute;
  bottom: 4px;
  right: 5px;

  background-color: transparent;
  border: none;
}

.calendar-icon path {
  fill: rgba(202, 202, 202, 1);
}

.calendar-icon:hover path {
  fill: #000000;
}

.calendar-icon:focus path {
  fill: rgba(129, 179, 210, 1);
}

button[name="button-minus"],
button[name="button-plus"] {
  width: 38px;
  height: 38px;

  background-color: rgba(242, 242, 242, 1);
  border: none;

  font-weight: 600;
  color: #a9a9a9;
  font-size: 23px;
}

button[name="button-minus"] {
  font-size: 35px;
  font-weight: 400;
}

button[name="button-minus"]:hover,
button[name="button-plus"]:hover {
  color: #000000;
}

button[name="button-minus"]:focus,
button[name="button-plus"]:focus {
  color: rgba(129, 179, 210, 1);
}

.counter {
    -moz-appearance:textfield;
}

.counter::-webkit-outer-spin-button,
.counter::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.btn-found {
  width: 458px;
  height: 58px;
  margin-top: 39px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;

  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(129, 179, 210, 1);
}

.btn-found:hover {
  background-color: rgba(102, 158, 192, 1);
}

.btn-found:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(84, 150, 189, 1);
}

.map {
  position: relative;
  z-index: 1;
}

.main-footer {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: -125px;
  padding: 20px 0px;

  width: inherit;
  z-index: 2;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.9);
}

.inner-footer {
  display: flex;
  align-items: center;

  padding: 26px 0;
}

.hashtag {
  flex-basis: 33.3333%;

  text-decoration: inherit;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.social {
  flex-basis: 33.3333%;
  display: flex;
  justify-content: center;

  padding: 0;

  list-style: none;
}

/*ВОПРОС
svg соц сетей не идеально центрируются по вертикали в ссылках
как исправить?
*/

.social li {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 46px;
  height: 48px;

  background-color: rgba(129, 179, 210, 1);
}

.social li:nth-child(2) {
  margin-left: 6px;
  margin-right: 6px;
}

.social li:hover {
  background-color: rgba(102, 158, 192, 1);
}

.social li:focus {
  background-color: rgba(84, 150, 189, 1);
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copiright {
  display: flex;
  justify-content: center;
  flex-basis: 33.3333%;
  align-items: center;
}

/*ВОПРОС
не могу сделать идеальной центровку b и логотипа

добавила внутренний отступ снизу 7px у b
это костыль или такое решение допустимо здесь?
*/

.copiright b {
  margin-right: 10px;
  padding-bottom: 7px;

  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}

.logo-academy path {
  fill: #000000;
}

.logo-academy:hover path {
  fill: rgba(129, 179, 210, 1);
}

.logo-academy:focus path {
  fill: rgba(202, 202, 202, 1);
}


/*  HOTELS  */

.link-current {
  color: rgba(118, 99, 87, 1);
}

.sort {
  display: flex;
  align-items: center;
  padding: 18px 73px;

}

.sort-result {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
}

.sort-title {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding-left: 52px;

  color: #000000;
}

.sort-type {
  display: flex;

  margin: 0;
  list-style: none;

  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.sort-icons {
  list-style: none;
  margin-left: auto;
}

.sort-type li:not(:first-child) {
  padding-left: 35px;
}

.sort-type a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dashed rgba(129, 179, 210, 1);
}

.sort-type a:hover {
  color: rgba(129, 179, 210, 1);
}

.sort-type a:focus {
  color: #000000;
  border: none;
}

.type-current a {
  color: rgba(129, 179, 210, 1);
  border: none;
}

.sort-icons {
  display: flex;
  flex-basis: 35px;
  justify-content: space-between;
}

.icon {
  border: none;
}

.icon polygon,
.icon polyline {
  fill: rgba(202, 202, 202, 1)
}

.icon:hover polygon,
.icon:focus polygon,
.icon:hover polyline,
.icon:focus polyline  {
  fill: #231f20;
}

.icon:active polygon,
.icon:active polyline  {
  fill: rgba(129, 179, 210, 1)
}

.hotel-item {
  display: flex;
  padding: 29px 73px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.hotel-item:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.hotel-item h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.hotel-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;

  margin: 0;
  padding-bottom: 12px;
  padding-top: 2px;
}

.hotel-item a {
  padding: 6px 17px;
}

.hotel-description {
  flex-grow: 1;

  /* max-height: 90px; */
  padding-left: 30px;

  text-align: left;
}

/* ВОПРОС
Не знаю, как блок с ценой ОТ расположить в соответсии с макетом
Насколько мой способ верный?  */

.hotel-item:first-child .price-description {
  padding-left: 30px;
}

.hotel-item:nth-child(2) .price-description {
  padding-left: 56px;
}

.hotel-item:last-child .price-description {
  padding-left: 15px;
}

.hotel-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stars {
  list-style: none;

  margin: 0;
  padding: 0;

  display: flex;
  justify-content: flex-end;
}

.star {
  width: 23px;
  height: 21px;
  background: url("../img/star.svg") no-repeat 100% 0;
}

.link-left {
  width: 110px;
  height: 27px;

  margin: auto;

  color: rgba(255, 255, 255, 1);
  background-color: rgba(129, 179, 210, 1);
}

.link-right {
  width: 142px;
  height: 27px;

  color: rgba(255, 255, 255, 1);
  background-color: rgba(118, 99, 87, 1);
}

.rating-description {
  width: 110px;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;

  padding: 4px 0;
  color: rgba(102, 102, 102, 1);
  background-color: rgba(242, 242, 242, 1);
}
