
html {
  background-color: #F2F2F2;
  text-align: center;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 1200px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #FFFFFF;
  -webkit-box-shadow: 5px 0px 15px rgba(0,1,1, 0.2);
          box-shadow: 5px 0px 15px rgba(0,1,1, 0.2);
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*  HEADER + NAVIGATION  */


.main-navigation {
  position: relative;

  background-color: #ffffff;

}

.main-navigation-links {
  list-style: none;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 0;
}

.main-navigation-links li {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 20%;
}

.main-navigation-links li:nth-child(1),
.main-navigation-links li:nth-child(2)  {
  text-align: left;
}

.main-navigation-links li:nth-child(3),
.main-navigation-links li:nth-child(4)  {
  text-align: right;
}

.main-navigation-links li:first-child {
  margin-left: 6%;
}

.main-navigation-links li:last-child {
  margin-right: 6%;
}

.main-navigation-links li:nth-child(2) {
  margin-right: 7%;
}

.main-logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main-navigation-links a {
  color: #000000;
}

.main-navigation-links a:hover {
  color: #81B3D2;
}

.main-navigation-links a:focus {
  color: rgba(0, 0, 0, 0.3);
}

/*  CONTENT  */

.intro {
  text-align: center;

  background-image: url("../img/polygon.svg"), url("../img/background.jpg");
  background-position: bottom center, 50% 21%;
  background-repeat: no-repeat, no-repeat;
  background-color: #d5e6f0;
  padding-bottom: 70px;
}

.intro-welcome {
  padding-top: 76px;
}


/*  REASONS  */

.reasons {
  padding-top: 20px;
}

.reasons-title p:first-child {
  width: 470px;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 21px;
}

.reasons-title p:last-child {
  width: 519px;

  font-size: 14px;
  font-weight: normal;

  margin-left: auto;
  margin-right: auto;
  padding-top: 6px;
  padding-bottom: 36px;
}

.reasons-list,
.city-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;

  padding: 0;
}

.reason-with-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  padding: 0;
  margin: 0;
  max-height: 256px;
}

.reason-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 400px;
}

.reason-item:nth-child(n+4) p {
  padding: 6px 69px;
}

.reason-item:last-child p {
  padding: 6px 71px;
}

.reason-description h3 {
  width: 150px;
  margin: 0 auto 20px auto;
}

.city-description {
width: 100%;
}

.city-description-item {
  position: relative;
}

.city-description li {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  margin: 140px 0 67px;
}

.city-description-item::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  top: -88px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.city-description-item:nth-child(2):before {
  margin-left: 6px;
}

.city-description-item:nth-child(2) {
  padding-left: 6px;
}

.city-description-item:last-child {
  margin-left: 4px;
}

.item-home::before {
  background: url("../img/icon-home.svg") 50% 100% no-repeat;
}

.item-food::before {
  background: url("../img/icon-food.svg") 50% 100% no-repeat;
}

.item-souvenirs::before {
  background: url("../img/icon-souvenirs.svg") 50% 100% no-repeat;
}

.reason-item h3,
.city-description-item h3 {
  font-size: 21px;
  line-height: 21px;

}

.reason-item span,
.reason-item p,
.city-description-item p  {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  padding: 6px 49px 0;
}

.reason-with-image {
  background-color: #81B3D2;
  color: #FFFFFF;
}

.reason-item:nth-child(n+4) {
  background-color: #EEEEEE;
  padding: 44px 0;
}

/*  FORM  */

.form-hotels {
  position: relative;
  text-align: center;

  padding-top: 3px;
}

.form-hotels h3 {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;

  margin: 0;
  padding-top: 30px;

  color: #000000;
}

.form-description {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  padding-top: 10px;
}

button[name="show-form"] {
  width: 568px;
  height: 86px;
  margin-top: 30px;

  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;

  border: none;
  outline: none;
  color: #FFFFFF;
  background-color: #766357;
}

button[name="show-form"]:hover {
  background-color: #604E43;
}

button[name="show-form"]:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503E33;
}

.hotel-form {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  z-index: 2;

  width: 458px;
  max-height: 395px;
  padding-top: 44px;
  padding-left: 54px;
  padding-right: 54px;
  padding-bottom: 57px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);

  background-color: #FFFFFF;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-name: slow-show;
          animation-name: slow-show;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

@@keyframes slow-show {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}

.form-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel-form input {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;

  background-color: #F2F2F2;
  border: none;
}

.hotel-form input:hover {
  background-color: #EBEBEB;
}

.hotel-form input:focus {
  background-color: #FFFFFF;
}

.arrival,
.departure {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.adults label {
  padding-right: 43px;
}

.children {
  margin-left: auto;
}

.children label {
  padding-right: 30px;
}

.date-input {
  width: 346px;
  height: 38px;

  padding-left: 10px;
  padding-right: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000000;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000000;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000000;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000000;
}::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000000;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000000;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000000;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000000;
}

.counter {
  width: 36px;
  height: 36px;

  text-align: center;
}

.calendar-icon {
  position: absolute;
  bottom: 4px;
  right: 5px;

  background-color: transparent;
  border: none;
}

.calendar-icon path {
  fill: #CACACA;
}

.calendar-icon:hover path {
  fill: #000000;
}

.calendar-icon:focus path {
  fill: #81B3D2;
}

.button-minus,
.button-plus {
  width: 38px;
  height: 38px;

  background-color: #F2F2F2;
  border: none;

  font-weight: 600;
  color: #a9a9a9;
  font-size: 23px;
}

.button-minus {
  font-size: 35px;
  font-weight: 400;
}

.button-minus:hover,
.button-plus:hover {
  color: #000000;
}

.button-minus:focus,
.button-plus:focus {
  color: #81B3D2;
}

.counter {
    -moz-appearance:textfield;
}

.counter::-webkit-outer-spin-button,
.counter::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.btn-found {
  width: 458px;
  height: 58px;
  margin-top: 39px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;

  border: none;
  outline: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #81B3D2;
}

.btn-found:hover {
  background-color: #669EC0;
}

.btn-found:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496BD;
}

.map {
  position: relative;
  z-index: 1;
  border: none;
  width: 1200px;
  height: 593px;
}

.main-footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -125px;
  padding: 20px 0px;

  width: inherit;
  z-index: 2;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.9);
}

.inner-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  padding: 22px 0;
}

.hashtag {
  -ms-flex-preferred-size: 33.3333%;
      flex-basis: 33.3333%;

  text-decoration: inherit;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.social {
  -ms-flex-preferred-size: 33.3333%;
      flex-basis: 33.3333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  padding: 0;

  list-style: none;
}

.social li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 46px;
  height: 48px;

  background-color: #81B3D2;
}

.social li:nth-child(2) {
  margin-left: 6px;
  margin-right: 6px;
}

.social-link:hover {
  background-color: #669EC0;
}

.social-link:focus {
  background-color: #5496BD;
}

.social-link:active path {
  fill-opacity: 0.3;
}


.social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copiright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 33.3333%;
      flex-basis: 33.3333%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copiright b {
  margin-right: 10px;
  padding-bottom: 7px;

  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}

.logo-academy path {
  fill: #000000;
}

.logo-academy:hover path {
  fill: #81B3D2;
}

.logo-academy:focus path,
.logo-academy:active path {
  fill: #CACACA;
}


/*  HOTELS  */

.link-current {
  color: #766357;
}

.filter-hotels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;


  padding-top: 15px;
  padding-left: 73px;
  padding-right: 73px;
  padding-bottom: 6px;

  color: #FFFFFF;

  background: url("../img/filter-background.jpg") no-repeat 25% 14% #658db6;
}

.checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.infrastructure,
.type-of-housing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* flex: 1; */

  margin: 0;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
}

.type-of-housing {
  margin-left: 118px;
}

.cost-day {
  text-align: left;
}

.price-controls {
  position: relative;

  height: 33px;
  margin-bottom: 19px;
  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;

  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 21px;

  padding-top: 5px;
  /* vertical-align: top; */

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 66px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.price-controls .max-price {
  padding-left: 56px;
  padding-right: 10px;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0px 82px;
  padding: 6px 33px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.filter-description {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.cost-day .filter-description {
  margin: 0;
  padding-top: 13px;
  padding-bottom: 9px;
}

.filter-list {
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

.filter-item {
  position: relative;

  list-style-type: none;
  padding-bottom: 25px;
}

.checkbox-item + label::before {
  content: "";

  position: absolute;
  top: 0px;
  left: -1px;

  width: 26px;
  height: 24px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;

  cursor: pointer;
}

.checkbox-item:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.checkbox-item:disabled + label::before,
.checkbox-item:checked:disabled + label::before {
  opacity: 0.3;
}

.filter-item label {
  padding-left: 40px;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 73px;
  padding-right: 73px;
  padding-bottom: 12px;
    padding-top: 18px;

}

.sort-result {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
}

.sort-title {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding-left: 52px;

  color: #000000;
}

.sort-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  list-style: none;

  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.sort-icons {
  list-style: none;
  margin-left: auto;
}

.sort-type li:not(:first-child) {
  padding-left: 35px;
}

.sort-type a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dashed #81B3D2;
}

.sort-type a:hover {
  color: #81B3D2;
}

.sort-type a:focus {
  color: #000000;
  border: none;
}

.type-current a {
  color: #81B3D2;
  border: none;
}

.sort-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 35px;
      flex-basis: 35px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon {
  border: none;
}

.icon polygon,
.icon polyline {
  fill: #CACACA;
}

.icon:hover polygon,
.icon:focus polygon,
.icon:hover polyline,
.icon:focus polyline  {
  fill: #231f20;
}

.icon:active polygon,
.icon:active polyline  {
  fill: #81B3D2;
}

.hotel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 29px 73px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.hotel-item:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.hotel-item h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.hotel-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;

  margin: 0;
  padding-bottom: 18px;
  padding-top: 2px;
}

.hotel-item a {
  padding: 5px 16px;
}

.hotel-description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;

  padding-left: 30px;

  text-align: left;
}

.hotel-type {
  width: 110px;
  display: inline-block;
  vertical-align: top;
}

.price-description {
  width: 142px;
  display: inline-block;
}

.hotel-description h2:hover {
  color: #81B3D2;
  cursor: pointer;
}

.hotel-description h2:focus {
  opacity: 0.3;
  cursor: pointer;
}

.hotel-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stars {
  list-style: none;

  margin: 0;
  padding: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.star {
  width: 23px;
  height: 21px;
  background: url("../img/star.svg") no-repeat 100% 0;
}

.link-left {
  width: 110px;
  height: 27px;

  margin: auto;

  color: #FFFFFF;
  background-color: #81B3D2;
}

.link-right {
  width: 142px;
  height: 27px;

  margin-left: 4px;

  color: #FFFFFF;
  background-color: #766357;
}

.link-left:hover {
  background-color: #669EC0;
}

.link-left:focus {
  background-color: #5496BD;
  color: rgba(255, 255, 255, 0.3);
}

.link-right:hover {
  background-color: #604E43;
}

.link-right:focus {
  background-color: #604E43;
  color: rgba(255, 255, 255, 0.3);
}


.rating-description {
  width: 110px;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;

  padding: 4px 0;
  color: #666666;
  background-color: #F2F2F2;
}
