/*  Указывала везде цвет в формате rgba
Насколько это верно?
 */

 /* rgba(0, 0, 0, 1) black
    rgba(255, 255, 255, 1) white */

html {
  background-color: rgba(242, 242, 242, 1);
  text-align: center;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 1200px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;

  background-color: rgba(255, 255, 255, 1);
  box-shadow: 5px 0px 15px rgba(0,1,1, 0.2);
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*  HEADER + NAVIGATION  */


.main-navigation {
  position: relative;

  background-color: #ffffff;

}

.main-navigation-links {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

/*  3.4. Главное меню: четыре ячейки одинаковой ширины.
Для первых двух пунктов выравнивание текста по левому краю,
для двух последних — по правому.   */

.main-navigation-links li {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 20%;
}

.main-navigation-links li:nth-child(1),
.main-navigation-links li:nth-child(2)  {
  text-align: left;
}

.main-navigation-links li:nth-child(3),
.main-navigation-links li:nth-child(4)  {
  text-align: right;
}

.main-navigation-links li:first-child {
  margin-left: 6%;
}

.main-navigation-links li:last-child {
  margin-right: 6%;
}

.main-navigation-links li:nth-child(2) {
  margin-right: 7%;
}

.main-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main-navigation-links a {
  color: rgba(0, 0, 0, 1);
}

.main-navigation-links a:hover {
  color: rgba(129, 179, 210, 1);
}

.main-navigation-links a:focus {
  color: rgba(0, 0, 0, 0.3);
}

/*  CONTENT  */

.intro {
  text-align: center;

  background-image: url("../img/polygon.svg"), url("../img/background.jpg");
  background-position: bottom center, 50% 21%;
  background-repeat: no-repeat, no-repeat;
  padding-bottom: 70px;
}

.intro-welcome {
  padding-top: 76px;
}


/*  REASONS  */

.reasons {
  padding-top: 20px;
}

.reasons-title p:first-child {
  width: 470px;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 21px;
}

.reasons-title p:last-child {
  width: 519px;

  font-size: 14px;
  font-weight: normal;

  margin-left: auto;
  margin-right: auto;
  padding-top: 6px;
  padding-bottom: 36px;
}

.reasons-list,
.city-description {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  padding: 0;
}

.reason-with-image {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0;
  margin: 0;
  max-height: 256px;
}

.reason-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

.reason-description p {
  padding: 0 55px;
}

.reason-description h3 {
  width: 150px;
  margin: 0 auto 20px auto;
}

.city-description-item {
  position: relative;
}

.city-description li {
  flex-basis: 33%;
  margin: 140px 0 67px;
}

.city-description-item::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  top: -88px;
  transform: translateX(-50%);
}

.item-home::before {
  background: url("../img/icon-home.svg") 50% 100% no-repeat;
}

.item-food::before {
  background: url("../img/icon-food.svg") 50% 100% no-repeat;
}

.item-souvenirs::before {
  background: url("../img/icon-souvenirs.svg") 50% 100% no-repeat;
}

.reason-item h3,
.city-description-item h3 {
  font-size: 21px;
  line-height: 21px;

}

.reason-item span,
.reason-item p,
.city-description-item p  {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  padding: 5px 49px 0;
}

.reason-with-image {
  background-color: rgba(129, 179, 210, 1);
  color: rgba(255, 255, 255, 1);
}

.reason-item:nth-child(n+4) {
  background-color: rgba(238, 238, 238, 1);
  padding: 44px 0;
}

/*  FORM  */

.form-hotels {
  text-align: center;

  padding-top: 12px;
}

.form-hotels h3 {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;

  margin: 0;
  padding-top: 30px;

  color: rgba(0, 0, 0, 1);
}

.form-description {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  padding-top: 10px;
}

button[name="show-form"] {
  width: 568px;
  height: 86px;
  margin-top: 30px;

  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 1);
  background-color: rgba(118, 99, 87, 1);
}

button[name="show-form"]:hover {
  background-color: rgba(96, 78, 67, 1);
}

button[name="show-form"]:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(80, 62, 51, 1);
}

.hotel-form {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;

  width: 458px;
  max-height: 395px;
  padding-top: 40px;
  padding-left: 54px;
  padding-right: 54px;
  padding-bottom: 53px;
  left: 50%;
  transform: translateX(-50%);

  background-color: rgba(255, 255, 255, 1);

  /* outline: 1px solid; */
}

.form-data {
  display: flex;
  align-items: center;

}

.hotel-form input {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;

  background-color: rgba(242, 242, 242, 1);
  border: none;
}

.hotel-form input:hover {
  background-color: rgba(235, 235, 235, 1);
}

.hotel-form input:focus {
  background-color: rgba(255, 255, 255, 1);
}

.arrival,
.departure {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.adults {
  margin-right: auto;
}

.children {
  margin-left: auto;
}

.date-input {
  width: 346px;
  height: 38px;
}

.counter {
  width: 38px;
  height: 38px;
}

.calendar-icon {
  position: absolute;
  bottom: 5px;
  right: 5px;

  background-color: transparent;
  border: none;
}

.calendar-icon path {
  fill: rgba(202, 202, 202, 1);
}

.calendar-icon:hover path {
  fill: rgba(0, 0, 0, 1);
}

.calendar-icon:focus path {
  fill: rgba(129, 179, 210, 1);
}

button[name="button-minus"],
button[name="button-plus"] {
  width: 38px;
  height: 38px;

  background-color: rgba(242, 242, 242, 1);
}

button[name="button-minus"]:hover,
button[name="button-plus"]:hover {
  color: rgba(0, 0, 0, 1);
}

button[name="button-minus"]:focus,
button[name="button-plus"]:focus {
  color: rgba(129, 179, 210, 1);
}

.btn-found {
  width: 458px;
  height: 58px;
  margin-top: 39px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;

  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(129, 179, 210, 1);
}

.btn-found:hover {
  background-color: rgba(102, 158, 192, 1);
}

.btn-found:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(84, 150, 189, 1);
}

/*  Почему-то карту пришлось тяжко выравнивать
с помощью таких больших цифр: 2167px
Наверно это костыль.
Как сделать лучше?  */
.map {
  position: absolute;
  left: 50%;
  top: 2167px;
  transform: translateX(-50%);
  z-index: 1;
}

/*  установка футера через 63px тоже как-то неправильно.
Но не понимаю, как сделать нормально и адекватно  */
.footer {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 63px;
  padding: 30px 0px;

  width: inherit;
  z-index: 2;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 0.9);
}

.hashtag {
  flex-grow: 1;
  color: rgba(0, 0, 0, 1);
}

.social {
  flex-grow: 1;
}

.hashtag {
  text-decoration: inherit;
  font-size: 21px;
  line-height: 26px;
}

.footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.social li {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 46px;
  height: 48px;

  background-color: rgba(129, 179, 210, 1);
}

.social li:nth-child(2) {
  margin-left: 6px;
  margin-right: 6px;
}

.social li:hover {
  background-color: rgba(102, 158, 192, 1);
}

.social li:focus {
  background-color: rgba(84, 150, 189, 1);
}

.copiright {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 29px;
  align-items: center;
}

.copiright b {
  margin-right: 10px;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}

.logo-academy path {
  fill: rgba(0, 0, 0, 1);
}

.logo-academy:hover path {
  fill: rgba(129, 179, 210, 1);
}

.logo-academy:focus path {
  fill: rgba(202, 202, 202, 1);
}


/*  HOTELS  */

.link-current {
  color: rgba(118, 99, 87, 1);
}

.sort {
  display: flex;
  align-items: center;
  padding: 0px 73px;

}

.sort-result {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
}

.sort-title {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding-left: 50px;

  color: rgba(0, 0, 0, 1);
}

.sort-type {
  display: flex;

  margin: 0;
  list-style: none;

  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.sort-icons {
  list-style: none;
  margin-left: auto;
}

.sort-type li {
  padding-left: 30px;
}

.sort-type a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dashed rgba(129, 179, 210, 1);
}

.sort-type a:hover {
  color: rgba(129, 179, 210, 1);
}

.sort-type a:focus {
  color: rgba(0, 0, 0, 1);
  border: none;
}

.type-current a {
  color: rgba(129, 179, 210, 1);
  border: none;
}

.sort-icons {
  display: flex;
  flex-basis: 35px;
  justify-content: space-between;
}

.icon {
  border: none;
}

.icon:hover path {
  fill: rgba(0, 0, 0, 1);
}

.icon:focus path {
  fill: rgba(129, 179, 210, 1);
}


.hotel-item {
  display: flex;
  padding: 30px 73px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.hotel-item:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.hotel-item h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.hotel-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  margin: 0;
  padding: 7px 0px;
}

.hotel-item a {
  padding: 8px 16px;
}

.hotel-description {
  max-height: 90px;
  padding-left: 30px;
}

.price-description {
  /* text-align: right; */
}

.hotel-rating {
  margin-left: auto;
}

.stars {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.star {
  width: 23px;
  height: 21px;
  background: url("../img/star.svg") no-repeat 100% 0;
}

.hotel-item a[href="hotel-info.html"] {
  width: 110px;
  height: 27px;

  margin: auto;

  color: rgba(255, 255, 255, 1);
  background-color: rgba(129, 179, 210, 1);
}

.hotel-item a[href="booking.html"] {
  width: 142px;
  height: 27px;

  color: rgba(255, 255, 255, 1);
  background-color: rgba(118, 99, 87, 1);
}

.rating-description {
  width: 111px;
  height: 21px;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;

  padding: 8px 16px;
  color: rgba(102, 102, 102, 1);
  background-color: rgba(242, 242, 242, 1);
}
